<!DOCTYPE html>
<html lang="en">

<head>
    <!-- imports the code from head.ejs -->
    <%- include('./partials/head') %>
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/nav') %>

    <div class="container mt-3 ">
        <div class="row row row-cols-4">
            <% blogs.forEach(blog => { %>
                <div class="col"> 
                    <div class="card" style="width: 100%;"> 
                        <img src="<%= blog.coverImageURL %>" width="300px" class="card-img-top" alt="Cover Image">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More...</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    

    <%- include('./partials/scripts') %>
</body>

</html>